<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-brand mb-0 h1 text-light text-decoration-none" href="#">Więckowskiego 74</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-lg btn-link text-light text-decoration-none px-3 me-2" routerLink="/login">
        Login
      </button>
    </div>
  </div>
</nav>