<div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <ul>
        <li title="Reservations">
            <label for="tab1" role="button" ><!-- href="#reservations" -->
                <i class="bi bi-calendar2-week-fill"></i> Rezerwacje
            </label>
        </li>
        <li title="History">
            <label for="tab2" role="button" ><!-- href="#history" -->
                <i class="bi bi-card-list"></i> Historia
            </label>
        </li>
        <li title="Settings">
            <label for="tab3" role="button" ><!-- href="#settings" -->
                <i class="bi bi-gear-wide-connected"></i> Ustawienia
            </label>
        </li>
    </ul>

    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">
        <section>
            <!--https://codepen.io/ankithingarajiya/pen/jQBWEz-->
            <!--https://mdbootstrap.com/docs/standard/plugins/calendar/-->

            <h2>Features</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in
            eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas
            voluptates quibusdam cum?
        </section>
        <section>
            <h2>Delivery Contents</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
            voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
        </section>
        <section>
            <h2>Shipping</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
            voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
        </section>
    </div>
</div>